---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import SideBar from "../components/SideBar.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from "../config";

const { image, title = SITE_TITLE, description = SITE_DESCRIPTION, includeSidebar = true, sideBarActiveItemID } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" data-theme="black">
  <head>
    <BaseHead title={title} description={description} image={image} />
  </head>
  <body>
    <div class="bg-base-100 drawer lg:drawer-open">
      <input id="my-drawer" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content bg-base-100">
        <Header title={SITE_TITLE} />
        <div class="md:flex md:justify-center">
          <main class="p-6 pt-10 lg:max-w-[900px] max-w-[100vw]">
            <slot />
          </main>
        </div>
        <Footer />
      </div>
      {includeSidebar && <SideBar sideBarActiveItemID={sideBarActiveItemID} />}
    </div>

<script>
    // Array con las contribuciones manuales para cada día
    const manualContributions = [
      5, 10, 0, 7, 25, 30, 15, 0, 0, 3, 8, 12, 0, 0, 35, 28, 5, // Semana 1 y 2
      // Agrega más valores hasta completar 365 días
    ];

    const calendarElement = document.getElementById('calendar');
    const daysInYear = 365;

    for (let i = 0; i < daysInYear; i++) {
      const day = document.createElement('div');
      day.classList.add('day');

      const contributions = manualContributions[i] || 0; // Valor por día, si no está definido, es 0

      if (contributions > 0) {
        if (contributions < 10) {
          day.style.backgroundColor = "#9be9a8"; // 1-9 contribuciones
        } else if (contributions < 20) {
          day.style.backgroundColor = "#40c463"; // 10-19 contribuciones
        } else if (contributions < 30) {
          day.style.backgroundColor = "#30a14e"; // 20-29 contribuciones
        } else {
          day.style.backgroundColor = "#216e39"; // 30+ contribuciones
        }
      }

      calendarElement.appendChild(day);
    }
  </script>
  </body>
</html>
