---
import BaseLayout from "./BaseLayout.astro";
import dayjs from "dayjs";
import localizedFormat from "dayjs/plugin/localizedFormat";
import { Image } from 'astro:assets';

export interface Props {
  title: string;
  description: string;
  pubDate: string;
  url: string;
  heroImage?: string;
  badge?: string;
}

const { title, description, pubDate, url, heroImage, badge } = Astro.props;
dayjs.extend(localizedFormat);
const displayDate = dayjs(pubDate).format("ll");
---

<BaseLayout title={title} description={description} image={heroImage}>
  <main class="md:flex md:justify-center">
    <article class="prose prose-lg max-w-[750px] prose-img:mx-auto">
      {
        heroImage && (
        <Image
            src={heroImage}
            width={750}
            height={422}
            alt={title}
            class="w-full mb-6"
          />
        )
      }
      <h1 class="title my-2 text-4xl font-bold">{title}</h1>
      {badge && <div class="badge badge-secondary my-1">{badge}</div>}
      <div class="flex gap-2 mt-2 items-center flex-wrap md:flex-nowrap">
        <span class="text-gray-400">
          {displayDate}
        </span>
      </div>
      <div class="divider my-2"></div>
      <slot />
    </article>
  </main>
</BaseLayout>
